thead{text-align: left;font-size: 20px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: oblique;text-shadow: 5px;}
tbody{text-align: left;font-size: 15px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-style: italic;text-shadow: 5px;}
tfoot{font-size: 20px;text-align: left;font-family: 'Times New Roman', Times, serif;font-style: initial;text-shadow: 5px;}
dl{padding: 5px;}
dt{padding: 5px;text-align: left;font-size: 20px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: oblique;text-shadow: 5px;}
dd{padding: 5px;text-align: left;font-size: 15px;font-style: italic;text-shadow: 5px;}
summary{margin: auto;width: 220px;border-radius: 10px 10px;}